{% extends "adminuser/base.html" %}
{% load static %}
{% block title %}Service Catalog List{% endblock %}

{% block navbar_extra %}
  <a class="navbar-brand position-absolute start-50 translate-middle-x" href="{% url 'manage_users' %}">
      Users
  </a>
{% endblock %}

{% block content %}

  <div class="container mt-5">
    <h1 class="mb-4">User List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Profile Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>
            <img src="{{ user.profile_photo_url | default:" /static/all-Pictures/admin-person.jpg"}}" alt="Profile" class="rounded-circle" width="50" height="50">
          </td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="{% url 'manage_user_update' user.id %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'manage_user_delete' user.id %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">No users found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
 

  {% endblock %}