{% extends "enduser/base.html" %}
{% load static %}
{% block title %}Payment Receipt{% endblock %}

{% block content %}
   <link rel="stylesheet" href="{% static 'css/reciept.css' %}">

   <div class="wrapper">
      <div class="receipt-container">
         <div class="receipt-header">
            <i class="fas fa-arrow-left back-btn" onclick="goBack()"></i>
            <h2  style="font-size: 30px;font-weight: bold;">Payment Receipt</h2>
         </div>

         <div class="receipt-content">
            <div class="item"><strong>Transaction ID:</strong> <span>{{ payment.id }}</span></div>
            <div class="item"><strong>Amount Paid:</strong> <span>₹ {{ payment.amount }}</span></div>
            <div class="item"><strong>Paid At:</strong> <span>{{ payment.paid_at }}</span></div>
            <div class="item"><strong>Paid By:</strong> <span>{{ payment.created_by__first_name }} {{ payment.created_by__last_name }}</span></div>
         </div>

         <a href="{% url 'home' %}" class="btn">Back to Home</a>
      </div>
   </div>

   <script>
      function goBack() {
         window.history.back();
      }
   </script>
{% endblock %}

