.wrapper {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 80%;
    margin: auto;
    height: 92vh;
}

.container {
    margin: auto;
    height: 100%;
    width: 50%;
    background:#cbc6c6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.receipt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-btn {
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: 0.3s;
}

.back-btn:hover {
    color: #3de288;
}

h2 {
    margin: 0;
    font-size: 22px;
    text-align: center;
    flex-grow: 1;
}

.receipt-content {
    text-align: left;
    flex-grow: 1;
}

.item {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin: 8px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100%;
    text-align: center;
    background: #3de288;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background: #32c377;
}

@media (max-width: 600px) {
    .receipt-container {
        padding: 20px;
    }

    .item {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }
}
