.wrapper{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 95%;
    margin: auto;
    height: 100vh;
}
.container {
    height:100%;
    width:100%;
    margin: auto;
}

.product-grid {
    overflow-y: scroll;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; 
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
}

@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for 768px and above */
    }
}

@media (min-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for 992px and above */
    }
}

@media (min-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr); /* 4 columns for 992px and above */
    }
}
@media (max-width: 500px ) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 4 columns for 992px and above */
    }
    .product-card{
        width: 150px !important;
        height: 200px !important;
    }
    .product-image {
        height: 50px !important;
        width: 50% !important;
    }    
    .product-name{
        font-size:9px !important;
    }
    .buy-btn{
        font-size: 9px !important;
        margin-top: 0px !important; 
        padding: 5px 5px !important;
    }
}
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    height: 100px;
    margin: auto;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}

.product-price {
    color: #28a745;
    font-size: 12px;
    font-weight: bold;
}

.product-description {
    font-size: 9px;
    color: #6c757d;
    margin-top: 10px;
}

.buy-btn {
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.buy-btn:hover {
    background: #0056b3;
}