{% extends "garage/index.html" %}
{% block title %}Garage Worker{% endblock %}
{% load static %}
{% block content %}

<script src="{% static 'js/profile.js' %}"></script>
<div class = "wrapper">
<div class="profile-container" style="height:100%;margin:auto; width:80%;">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th style="color: green;">Worker</th>
                <th style="color: green;">Garage</th>
                <th style="color: green;">Experience</th>
                <th style="color: green;">Expertise</th>
                <th style="color: green;">Verified</th>
            </tr>
        </thead>
        <tbody style="color: green;">
            {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.garage_name }}</td>
                <td>{{ worker.experience }}</td>
                <td>{{ worker.expertise }}</td>
                <td>{{ worker.is_verified}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
<style>
    .wrapper{
        background: #c8d6e2;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        display: flex;
        padding: 20px;
        margin: auto;
        height: 100vh;
    }
</style>

{% endblock %}