{% extends "worker/index.html" %}
{% load static %}
{% block title %}Payment Gateway{% endblock %}

{% block content %}
   <link rel="stylesheet" href="{% static 'css/payment.css' %}"> 
   <script src="{% static 'js/payment.js' %}" defer></script>

   <div class="wrapper">
      <div class="container payment-container">
         <h2>Make a Payment</h2>
         <div class="form-wrapper">
            <form id="paymentForm">
                {% csrf_token %}
                <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
                
                <label>Payment Method:</label>
                <select id="paymentMethod" required>
                    <option value="" disabled selected>Select</option>
                    <option value="UPI">UPI</option>
                    <option value="CASH">Cash On Delivery</option>
                </select>

                <label>Amount:</label>
                <input type="number" id="amount" value="{{ total_price }}" readonly>

                <!-- UPI Section -->
                <div id="upiSection" style="display: none;">
                    <label>UPI ID:</label>
                    <input type="text" id="upiId">
                </div>
                <script>
                    let userId = "{{ request.user.id }}";  // Ensure it's enclosed in quotes
                    
                    let bookingId = "{{booking_id}}"
                    console.log(bookingId)
                </script>
                <!-- Submit Button -->
                <button type="submit">Pay Now</button>
            </form>        
         </div>    
      </div>
   </div>

{% endblock %}
